.hero {
  display: none;
}

.stars {
  background-image: url('../images/stars.jpg') ;
  background-size: cover;
  position: absolute;
}

.clouds {
  background-image: url('../images/clouds-small.jpg') ;
  background-size: cover;
  mix-blend-mode: screen;
  left:0;
  opacity: 0;
  position: absolute;
  animation: opacity-animation 8s infinite linear;
  width: 200vw;
  height: 100vh;
}

.logo {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
  z-index: 100;
  width: 140px;
  @media #{$medium-and-up} {
    width: 260px;
  }

  @media #{$large-and-up} {
    width: 320px;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
   tranform: translateX(500px);
  }
}

.social-link {
  fill: #fff;
}

.nav {
  position: absolute;
  right: 0;

}

.nav-list {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin: 10px;
}


.nav-item {
  width: 32px;
  margin-bottom: 8px;
    opacity: 0.8;

  @media #{$medium-and-up} {
    width: 40px;
  }

  @media #{$large-and-up} {
    width: 45px;
  }

  &:hover {
    opacity: 1;
  }
  transition: 0.4s;
}

// .video-background {
//   background: #000;
//
//   top: 0; right: 0; bottom: 0; left: 0;
//   z-index: -99;
// }
// .video-foreground,
// .video-background iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   pointer-events: none;
// }
// #vidtop-content {
// 	top: 0;
// 	color: #fff;
// }
// .vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
// .vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
// .vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
// @media (min-aspect-ratio: 16/9) {
//   .video-foreground { height: 300%; top: -100%; }
// }
// @media (max-aspect-ratio: 16/9) {
//   .video-foreground { width: 300%; left: -100%; }
// }
// @media all and (max-width: 600px) {
// .vid-info { width: 50%; padding: .5rem; }
// .vid-info h1 { margin-bottom: .2rem; }
// }
// @media all and (max-width: 500px) {
// .vid-info .acronym { display: none; }
// }
